
.card{
        transition: all ease 0.3s;
}

.box-bottom{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 8, 20, 0.214);
        bottom: -100%;
        transition: all ease 0.3s;
}

.card:hover{
        scale: 1.1; 
       
}
.card:hover .box-bottom{
        bottom: 0;
}